@model HMS.Areas.Dashboard.ViewModels.AccomadationTypesListingModel


@if (Model != null && Model.AccomadationType != null && Model.AccomadationType.Count() > 0)
{

    <table id="productsTable" class="table table-striped">

        <thead>

            <!--Row tag-->
            <tr>

                <!--td is a cell-->
                <th class="font-weight-bold">Name</th>
                <th class="font-weight-bold">Description</th>
                <th class="font-weight-bold">Action</th>

            </tr>

        </thead>

        <tbody>

            @foreach (var item in Model.AccomadationType)
            {
                <tr>

                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>

                        <button data-href="@Url.Action("Action", "AccomadationTypes", new { ID=item.ID})" class="dataBtn btn btn-primary" type="button" data-toggle="modal" data-target="#actionModal">
                        <i class="fas fa-edit mr-1"></i>Edit
                        </button>

                        <button data-href="@Url.Action("Delete", "AccomadationTypes", new { ID=item.ID})" class="dataBtn btn btn-danger" type="button" data-toggle="modal" data-target="#actionModal">
                        <i class="fas fa-trash-alt mr-1"></i>Delete
                        </button>
                    </td>

                </tr>
            }


        </tbody>

    </table>

}
else
{
    <div class="alert alert-danger">
        No Accomadation Types Found
    </div>

}
