@model HMS.Areas.Dashboard.ViewModels.AccomadationTypesListingModel
@{
    ViewBag.Title = "Index";
}


<div class="row m-2">

    <!--Title-->
    <div class="col col-lg-12">
        <br />
        <h2 class="text-center">Accomadation Types</h2>
        <br />
    </div>

    <!--Search Box and its Btns-->
    <div class="col col-lg-12">
        <form>
            <div class="input-group">
                <input type="text" name="searchTerm" class="form-control" placeholder="Search..." required value="@Model.SearchTerm">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="submit"><i class="fas fa-search mr-1"></i>Search</button>
                    <a href="@Url.Action("Index","AccomadationTypes")" class="btn btn-outline-secondary" ><i class="fas fa-redo-alt mr-1"></i>Reset</a>
                    <button data-href="@Url.Action("Action", "AccomadationTypes")" class="dataBtn btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#actionModal"><i class="fas fa-plus mr-1"></i>Create</button>

                </div>
            </div>

        </form>

    </div>

    <!--Table-->
    <div class="col col-lg-12">
        <!--This 'RenderPartial' will render the '_Listing' partial view in this Index View and pass the Model to it -->
        @{ Html.RenderPartial("_Listing", Model); }
    </div>

</div>


<!-- Modal -->
<div class="modal fade" id="actionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">

    </div>
</div>

<script>

    $(".dataBtn").click(function () {

      $.ajax({
          method: "GET",
          url: $(this).attr("data-href"),

            })
                .done(function (response) { // the response returns an html with values

                    $("#actionModal .modal-dialog").html(response); // pass the response to the div with class '.modal-dialog' which is child div of '.actionModal'
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {

                    alert("failed");

                });
    })

</script>


